.tracker {
    width: auto;
    height: 60px;
    transition: all .2s;

    // Stick it at the top of all other views
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);

    @include flex($justify: flex-start);

    &.hidden {
        top: -100px;
    }

    .key {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        transition: all .5s;

        font-family: Poppins;
        font-size: 16px;
        border-radius: 3px;

        @include flex();

        color: $dark-grey;
        background-color: $grey;
        opacity: 0.6;

        &:last-child {
            margin-right: 0;
        }
    }
}