.tracker {
    width: auto;
    height: 60px;
    transition: all .2s;

    // Stick it at the top of all other views
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9000;

    @include flex($justify: flex-start);

    &.hidden {
        opacity: 0;
        left: 40%;
    }

    &.matched .key {
        color: $white;
        background-color: $red;
    }

    .key {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        transition: all .2s;

        font-family: Poppins;
        font-size: 16px;
        border-radius: 2px;

        @include flex();

        color: $white;
        background-color: $dark-grey;

        &:last-child {
            margin-right: 0;
        }
    }
}