@import '~styles/misc/fonts';
@import '~styles/misc/colors';
@import '~styles/misc/mixins';


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
}