@import '~styles/misc/fonts';
@import '~styles/misc/colors';
@import '~styles/misc/mixins';

@import '~styles/components/keyTracker';


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    @include flex();
}

.content-section {
    width: 100vw;
    height: 100vh;
    
    @include flex();


    .view-background {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        
        z-index: -1;
    }
}