@import '~styles/misc/fonts';
@import '~styles/misc/colors';
@import '~styles/misc/mixins';

@import '~styles/components/keyTracker';


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
}

#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    @include flex();
}